<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    {% include "sessionNavigationBar.html" %}

    <div style='height: 100vh;' class="jumbotron">
        <h1 class="display-4">Hello, gamer!</h1>
        <p class="lead">Welcome to the abode of multiplayer gaming!</p>
        <hr class="my-4">
        <p style="margin-bottom: 10vh;">Are you ready to explore a world of infinite possibilities?</p>
        <button style="margin-bottom: 5vh;height: 7vh;width: 50%;margin-left: auto;margin-right: auto;" type="button"
            class="btn btn-success btn-lg btn-block" onclick="window.location='miniGames.html'">Play!</button>
        <button style="margin-bottom: 5vh;height: 7vh;width: 50%;margin-left: auto;margin-right: auto;" type="button"
            class="btn btn-info btn-lg btn-block"
            onclick="window.location.href=`{{ url_for('Profile') }}`">Profile</button>
        <button style='margin-bottom: 5vh;height: 7vh;width: 50%;margin-left: auto;margin-right: auto;' type="button"
            class="btn btn-dark btn-lg btn-block" onclick="window.location.href=`{{ url_for('Shop') }}`">Secret
            Shop</button>
        <button style='margin-bottom: 5vh;height: 7vh;width: 50%;margin-left: auto;margin-right: auto;' type="button"
            class="btn btn-info btn-lg btn-block"
            onclick="window.location.href=`{{ url_for('Leaderboard') }}`">Leaderboard</button>
        <button style='margin-bottom: 5vh;height: 7vh;width: 50%;margin-left: auto;margin-right: auto;' type="button"
            class="btn btn-danger btn-lg btn-block"
            onclick="window.location.href=`{{url_for('Logout')}}`">Log out</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>