<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>

    {% include "sessionNavigationBar.html" %}

    <div style="width: 100%;">
        <div style="width: 50%; float: left;padding: 1%;">
            <h1 style="text-align: center;">Cash Leaderboard</h1>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Cash</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cash_leaderboard %}
                    <tr>
                        <th scope="row">{{item[0]|int}}</th>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div style="float: left; width: 50%; padding: 1%;">
            <h1 style="text-align: center;">Gold Leaderboard</h1>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Gold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in gold_leaderboard %}
                    <tr>
                        <th scope="row">{{item[0]|int}}</th>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</body>

</html>