<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    {% include "sessionNavigationBar.html" %}
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Multiplayer Game Server</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('MiniGames')}}"><b>Play!</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Profile')}}"><b>Profile</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Shop')}}"><b>Secret Shop</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Leaderboard')}}"><b>Leaderboard</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Home', email=email)}}"><b>Logout</b></a>
                </li>
            </ul>
            <span class="navbar-text">
            </span>
        </div>
    </nav>-->


    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Supremacy List</h1>
              <p class="lead">A list of your best matches ever!</p>
            </div>
          </div>


    <div style="width: 100%;">
        <div style="width: 50%; float: left;padding: 1%;">
            <h1 style="text-align: center;">Snake 'n Ladder</h1>
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Game Number</th>
                        <th scope="col">Cash</th>
                        <th scope="col">Gold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in snake_history %}
                    <tr>
                        <th scope="row">{{item[0]|int}}</th>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div style="float: left; width: 50%; padding: 1%;">
            <h1 style="text-align: center;">Connect4</h1>
            <table class="table table-striped table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Game Number</th>
                        <th scope="col">Cash</th>
                        <th scope="col">Gold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in connect4_history %}
                    <tr>
                        <th scope="row">{{item[0]|int}}</th>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</body>

</html>