<!DOCTYPE html>
<html>

<head>

  <style>
    .container {
      width: 100%;
      overflow: hidden;
    }

    .profile-container {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: 1.5%;
      text-align: center;
      float: left;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Navigation Bar -->
  {% include "sessionNavigationBar.html" %}
  <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Multiplayer Game Server</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('MiniGames')}}"><b>Play!</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('Profile')}}"><b>Profile</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('Shop')}}"><b>Secret Shop</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('Leaderboard')}}"><b>Leaderboard</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('Home', email=email)}}"><b>Logout</b></a>
        </li>
      </ul>
      <span class="navbar-text">
      </span>
    </div>
  </nav>-->

  <div class="container">
    <!-- Profile Display  -->
    <div class="profile-container">
      <img src="../static/images/avatar.png" alt="John" style="width:100%">
      <h1 style="margin-top: 10px;">{{ name }}</h1>
      <p style="color: grey;font-size: 18px;">{{ email }}</p>
      <div>
        <img src="../static/images/cash.png" style="vertical-align: middle; width: 10%; height: 10%;" />
        <span style="vertical-align: middle;">{{ cash }}</span>
      </div>
      <div style="margin-bottom: 20px;">
        <img src="../static/images/gold.jpeg"
          style="vertical-align: middle; width: 10%; height: 10%; margin-right: 3px;" />
        <span style="vertical-align: middle;">{{ gold }}</span>
      </div>
    </div>

    <!-- Form Elements -->
    <div style="float: left;width: 50%; margin: 1.5%;">
      <form action="/profile" method="POST">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name"
            value="{{name.split(' ')[0]}}">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name"
            value="{{name.split(' ')[1]}}">
        </div>
        <input type="submit" value="Edit Profile">
      </form>
    </div>

  </div>

</body>

</html>