<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <link rel="stylesheet" href="../static/css/boardStyle.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="../static/js/player.js"></script>
    <script type="text/javascript" src="../static/js/tile.js"></script>
    <script type="text/javascript" src="../static/js/sketch.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Snakes 'n Ladders</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Multiplayer Game Server</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <button onclick="clearCookie()">HERE</button> -->
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Home', email=email)}}"><b>Logout</b></a>
                </li>
            </ul>
            <span class="navbar-text">
            </span>
        </div>
    </nav>

    <div id='2xFailAlert' class="alert alert-danger" role="alert" hidden>
        You don't have any 2x Multipliers!
    </div>

    <div id='2xPassAlert' class="alert alert-success" role="alert" hidden>
        Multiplier used!
    </div>

    <div id='board' class='center'>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="readyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Ola!</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span> -->
                    </button>
                </div>
                <div class="modal-body">
                    Are you ready to play?
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">Let's go!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Game over!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b id='gameResult'></b>
                    <br>
                    <br>
                    Your Earnings:
                    <br>
                    <img src="../static/images/cash.png" style="height: 4vh;">
                    <b id='playerCash'></b>
                    <br>
                    <img src="../static/images/gold.jpeg" style="height: 3vh;">
                    <b id='playerGold'></b>

                </div>
                <div class="modal-footer">
                    <button id='twoxButton' type="button" class="btn btn-success" onclick="twox()">Before I finish, use
                        2X Multiplier!</button>
                    <button type="button" class="btn btn-primary" onclick="updateAndExit()">I'm done here!</button>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class="container">
            <div class="row">
                <img id='diceImg' class='center' style='height: 10vh;' src="../static/images/roll.jpg">
                <p style="margin-top:1vh;width: 50%;height:6vh;text-align:center;border:2px solid black">
                    Moves
                    <br>
                    <b id='nMoves'>0</b>
                </p>
            </div>
        </div>
        <div class="container" style="margin-top: 2vh;height:10vh;">
            <div class="row">
                <div class="col-sm" style="text-align: center;border: 4px solid green;padding: 4%;">
                    <b id='userName'></b>
                </div>
                <div class="col-sm">
                    <button class="btn btn-primary" onclick="rollOnce()" style="width: 100%;height: 100%;"
                        id='rollButton'><b>Roll!</b></button>
                </div>
                <div class="col-sm" style="text-align: center;border: 4px solid blue;padding: 4%;">
                    <b id='opponentName'>{{player2}}</b>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script>
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                hash[1] = unescape(hash[1]);
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }

            return vars;
        }
        var urlVars = getUrlVars();

        var isPlayer2 = getUrlVars()["player2"];

        if (getUrlVars()["player2"]) {
            $('#rollButton').attr('disabled', 'disabled');
        }

        $(window).on('load', function () {
            $('#readyModal').modal('show');
        });

        var socket_private = io('http://127.0.0.1:5000/private')
        user_email = document.cookie.split('"')[1];
        document.getElementById('userName').innerHTML = user_email;
        socket_private.emit('user_email', { 'player': user_email, 'game_id': 1 });

        socket_private.emit('redirectionSocket', { 'player': user_email, 'game_id': 1 });

        socket_private.on('send_user_email', function (arr) {
            console.log(arr);
        });

        socket_private.on('getMove', function (arr) {
            if (arr[0] == 'twoxPassed') {
                document.getElementById('2xPassAlert').hidden = false;
                playerCash = playerCash * 2;
                playerGold = playerGold * 2;
                document.getElementById('playerCash').innerHTML = playerCash;
                document.getElementById('playerGold').innerHTML = playerGold;
                $('#twoxButton').attr('disabled', 'disabled');
            }
            else if (arr[0] == 'twoxFailed') {
                document.getElementById('2xFailAlert').hidden = false;
                $('#twoxButton').attr('disabled', 'disabled');
            }
            else {
                if (isPlayer2)
                    player1.next = player1.spot + arr[0];
                else
                    player2.next = player2.spot + arr[0];
                rollOnce();
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>